<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <!--设置数据库连接字符串-->
  <connectionStrings>
    <add name="MyPetShop.DAL.Properties.Settings.MyPetShopConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyPetShop.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <pages>
      <!--定义AjaxControlToolkit标记前缀，对应页面中的@ Register指令-->
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
	<!-- 加上下面代码-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<!-- 加上上面代码-->
  <!--通过“添加服务引用”命令自动生成的用于调用天气预报Web服务的配置代码-->
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
    <!--设置调用天气预报Web服务的键和值-->
    <add key="WeatherServiceRef.WeatherWebService" value="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"/>
    <!--设置发件人邮箱（以QQ邮箱为例）信息，注意请使用自己的邮箱并修改相应的键值。其中，MailFromAddress表示发件人邮箱，UseSsl值为true表示使用SSL协议连接，UserName表示发件人邮箱的账户名，Password表示授权码（跟邮箱密码不相同），ServerName表示发送邮件的SMTP服务器名，ServerPort表示SMTP服务器名的端口号-->
    <add key="MailFromAddress" value="3272344648@qq.com"/>
    <add key="UseSsl" value="true"/>
    <add key="Username" value="3272344648"/>
    <add key="Password" value="srzwlgkfypxddaga"/>
    <add key="ServerName" value="smtp.qq.com"/>
    <add key="ServerPort" value="587"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>